/* Container styling */
.body{
  background-color: #f0c2fb;
  overflow-y: scroll;
}
.container {
  width: 90%;
  margin: 60px ;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  height: 90%;
  
}

/* Heading styling */
h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Upload section styling */
.upload-section {
  margin-bottom: 20px;
}

/* Message input styling */
.message-input {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

/* Button styling */
button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #001aff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #f99393;
  cursor: not-allowed;
}

/* Image section styling */
.image-section {
  margin-bottom: 20px;
}

.uploaded-image {
  max-width: 100%;
  height: 30%;
  margin-top: 10px;
}

/* Download section styling */
.download-section {
  margin-top: 20px;
}
